div.container-posts-create {
	background-color: #FFFFFF;
	padding: 20px;
	box-shadow: 1px 1px 3px 1px #D4DAD3;
	
	form {
		input {
			margin-bottom: 10px;
		}

		select {
			display: block;
			margin-bottom: 10px;
			width: 100%;
		}

		button {
			margin-top: 20px;

			span {
				margin-left: 5px;
			}
		}
	}
}