div.container-posts-index {
	background: white;
	padding: 20px 30px;
	box-shadow: 1px 1px 2px 1px #D7E3E0;

	div.filter-table {
		display: inline-block;
		margin: 10px 0px 0px 10px;
	}

	> a.button {
		margin-bottom: 10px;

		span {
			 margin-right: 10px;
			 margin-top: 2px;
			 font-size: 20px;
		}
	}
}