

div.container-posts-show {
	h1.title {
		font-family: 'Racing Sans One';
		font-size: 35px;
		margin-bottom: 40px;
	}
	h2.subtitle {
		font-size: 14px;
	}

	article {
		background-color: #FFFFFF;
		margin-top: 0px;
		padding: 40px 30px;
		box-shadow: 1px 1px 3px 1px #D4DAD3;
		font-family: 'Open Sans';
	}
}