

div.container-posts-show {
	h1.title {
		font-family: 'Racing Sans One';
		font-size: 35px;
		margin-bottom: 40px;
		text-shadow: 1px 1px 3px black;
	}
	h2.subtitle {
		font-size: 14px;
		text-shadow: 1px 1px 1px black;
	}

	article {
		background-color: #FFFFFF;
		margin-top: 0px;
		padding: 70px 40px;
		box-shadow: 1px 1px 3px 1px #D4DAD3;
		font-family: 'Open Sans';

		// Edit and delete buttons
		div.buttons {
			position: absolute;
			right: 5px;
			top: 0px;
		}
	}
}